*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: blue;
    min-width: 600px;
}

.box{
    background-color: aliceblue;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    padding-top: 10px;
}
#h1{
    font-size: 25px;
    color: darkblue;
    font-weight: 600;
    border-bottom: 2px black solid;
    padding-bottom: 10px;
}
.question{
    font-size: 20px;
    color: black;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 15px;
}
.btt{
    background-color: aliceblue;
    width: 100%;
    font-weight: 550;
    color: blue;
    text-align: left;
    padding: 10px;
    margin: 0px 0;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-radius: 4px;
}
.btt:hover{
    color: white !important;
    background-color: darkblue !important;
    font-weight: 600;
    cursor: pointer;
}
#nextBtt{
    background-color: black;
    color: aliceblue;
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 550;
    width: 50px;
}
#nextBtt:hover{
    border: 3px red solid;
    cursor: pointer;
}
.qNums{
    display: inline;
    font-weight: 1000;
    font-size: 20px;
    color: black;
    margin-top: 10px;
}
#qNum{
    margin-left: 75%;
}
